<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}" type="text/css"/>
    <title>OTP</title>
</head>
<body>
<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                         class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                         alt="Sample photo">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>

                        <form class="px-md-2" th:object="${x}" th:action="@{/auth/verify-regis}" method="post">

                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="otp">OTP</label>
                                <input type="password" id="otp" class="form-control form-control-lg"
                                       th:field="*{otp}"
                                       placeholder="6 DIGIT ANGKA" />
                                <ul class="error-ul">
                                    <li th:each="err : ${#fields.errors('otp')}" th:text="${err}" class="error" />
                                </ul>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="hidden" id="email" class="form-control form-control-lg"
                                       th:field="*{email}"/>
                            </div>

                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg mb-1">Submit</button>

                        </form>

                        <div>
                            <input type="hidden"  class="form-control form-control-lg"
                                   th:value="${token}" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>