<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coba Aja</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body >

<div>
    <div>
        <div>
            <h1>Ini Adalah Halaman Coba Aja</h1>
            <img src="/images/bcafinance.png" width="300" height="300">
            <h1>here is some <b>BoLdd</b> text</h1>
            <strong>here is some <b>BoLdd</b> text</strong>
            <label>username</label>
            <input id="usn" name=""  type="text" value="coemi"></input>
            <label>password</label>
            <input  id="pwd" type="password" value="cumi"></input>
            <label>alamat</label>
            <textarea pattern="^[\w\s\.\,]{20,255}$" ></textarea>
            <abbr title="World Wide Web Consortium">W3C</abbr>
            <a href="https://angular.io" target="_blank">Angular</a>
            <a href="#section100">Jump To Section 100</a>
            <h2 id="section100">Section 100</h2>
            <div>
                <table>
                    <tr>
                        <th>Kolom1</th>
                        <th>Kolom2</th>
                        <th>Kolom3</th>
                        <th colspan="2">Kolom4</th>
                    </tr>
                    <tr>
                        <td>data1-1</td>
                        <td>data1-2</td>
                        <td>data1-3</td>
                        <td>data1-4</td>
                        <td>data1-5</td>
                    </tr>
                    <tr>
                        <td>data2-1</td>
                        <td>data2-2</td>
                        <td>data2-3</td>
                        <td>data2-4</td>
                        <td>data2-5</td>
                    </tr>
                </table>
            </div>
            <div>
                <ul>
                    <li>Menu 1</li>
                    <li>Menu 2</li>
                    <li>Menu 3</li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>