<form  th:action="@{/user}"
	   method="post" id="addUser" >
	<input type="hidden" value="50c9a8c2b1cb45799d8f0db5f8449c65" />
	<div class ="form-group">
		<label  > Username </label>
		<input
				type = "text"
				name = "username"
				th:value="${username}"
				class = "form-control"
				placeholder="Masukkan Username"
		/>
		<ul   class="error-ul">
			<li th:if="${usernameMessage!=null}" th:text="${usernameMessage}" class="error" />
		</ul>
	</div>

	<div class ="form-group">
		<label  for="password">Password</label>
		<input type="password" id="password" name="password"
			   class="form-control form-control-lg"
			   th:value="${password}"
			   placeholder="Enter password" />
		<ul   class="error-ul">
			<li th:if="${passwordMessage!=null}" th:text="${passwordMessage}" class="error" />
		</ul>
	</div>

	<div class ="form-group">
		<label  for="namaLengkap"> Nama Lengkap </label>
		<input
				id="namaLengkap"
				type = "text"
				th:value="${namaLengkap}"
				name = "namaLengkap"
				class = "form-control"
				placeholder="Masukkan Nama Lengkap"
		/>
		<ul   class="error-ul">
			<li th:if="${namaLengkapMessage!=null}" th:text="${namaLengkapMessage}" class="error" />
		</ul>
	</div>

	<div class ="form-group">
		<label  for="noHp">No Handphone</label>
		<input type="number" id="noHp" name="noHp" class="form-control form-control-lg"
			   th:value="${noHp}" placeholder="Masukkan No Hp" />
		<ul   class="error-ul">
			<li th:if="${noHpMessage!=null}" th:text="${noHpMessage}" class="error" />
		</ul>
	</div>

	<div class ="form-group">
		<label  for="email">Email</label>
		<input type="email" id="email" name="email" class="form-control form-control-lg"
			   th:value="${email}" placeholder="Enter Email" />
		<ul   class="error-ul">
			<li th:if="${emailMessage!=null}" th:text="${emailMessage}" class="error" />
		</ul>
	</div>


	<div class ="form-group">
		<label>Akses</label>
		<input
				type = "text"
				id="namaAkses"
				name = "namaAkses"
				class = "form-control"
				placeholder="Pilih"
				disabled="disabled"
		/>
		<input type="hidden" id="idAkses" name="idAkses"
			   th:value="${idAkses}"/>
		<button
				th:id="pilih-data"
				th:onclick="funcModalsDataTableHandler('DataAkses','#dataTable','/akses/idAkses/namaAkses/asc/id/0?column=id&value=&size=5','#data-result')"
				data-toggle="modal" data-target="#dataTable"
				class="btn btn-primary" type="button">
			Pilih
		</button>
	</div>

	<div class ="form-group">
		<label for="alamat"> Alamat </label>
		<textarea
				type = "text"
				id = "alamat"
				name = "alamat"
				th:text="${alamat}"
				class = "form-control"
				placeholder="Masukkan Alamat" />

		<ul   class="error-ul">
			<li th:if="${alamatMessage!=null}" th:text="${alamatMessage}" class="error" />
		</ul>
	</div>


	<div data-mdb-input-init class="form-outline mb-4">
		<label  for="tanggalLahir">Tanggal Lahir</label>
		<input type="date" id="tanggalLahir" name="tanggalLahir" class="form-control form-control-lg"
			   placeholder="Enter Birth Date" />
		<ul   class="error-ul">
			<li th:if="${tanggalLahirMessage!=null}" th:text="${tanggalLahirMessage}" class="error" />
		</ul>
	</div>

	<div>
		<input id="file" type="file" name="file" />
	</div>

	<div class = "modal-footer">
		<button type="submit" class = "btn btn-primary" id="btnSubm">
			Submit
		</button>
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	</div>
</form>

<script th:inline="javascript">
/*<![CDATA[*/
    $("#addUser").submit(function(event) {
          event.preventDefault(); //prevent default action
          let post_url = $(this).attr("action"); //get form action url
          let request_method = $(this).attr("method"); //get form GET/POST method
          let form_data = new FormData(this);
		$("#btnSubm").prop("disabled", true);

		$.ajax({
              url: post_url,
              type: request_method,
              data: form_data,
			  enctype: 'multipart/form-data',
			  contentType: false,
			  processData: false,
		  })
			.done(function(response) { //
            let pattern = /50c9a8c2b1cb45799d8f0db5f8449c65/i;
			let result = response.match(pattern);
            if(result)
            {
				$("#server-results-add").html(response);
            }
            else
            {
				$('#add1').modal('hide');
				confirm("DATA BERHASIL DISIMPAN");
				window.location = "/user";// ini refresh page nya
            }
            });
        });

/*]]>*/
</script>